<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<h1>Cars list</h1>
<p>Quantity car to list:</p><br>


<table border="1">
    <tr>
        <th>MODEL</th>
        <th>COLOR</th>
        <th>ENGINE</th>
    </tr>
    <tr th:each="car: ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.engine}"></td>
    </tr>
</table>

</body>
</html>